In [1]:
print("Hello")

Hello

In [3]:
a = 0o177

In [4]:
a

127

In [5]:
b=0XABC

In [6]:
print(a)
print(b)

127
2748

In [1]:
'hello'

'hello'

In [2]:
"hello"

'hello'

In [3]:
'''he
llo'''

'he\nllo'

In [4]:
print("Hello! '안녕'")

Hello! '안녕'

In [5]:
"안녕 "안녕" 안녕"

SyntaxError: invalid syntax (<ipython-input-5-f5312c5f834d>, line 1)

In [7]:
"hi"+"~0"

'hi~0'

In [8]:
"hi"*3

'hihihi'

In [9]:
"*"*50

'**************************************************'

In [10]:
3+"555"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
a = "Life is too short"
len(a)

17

In [28]:
a="Life is too short, You need Python"
a[3]

'e'

In [14]:
a[-1]

'n'

In [15]:
a[0:3]

'Lif'

In [17]:
a="python"
a[0]="!"

TypeError: 'str' object does not support item assignment

In [21]:
print("I eat %d apples." % 3)

I eat 3 apples.

In [22]:
print("%s I ate %d apple" %('hi',5))

hi I ate 5 apple

In [23]:
"%10s" % "hi"

'        hi'

In [27]:
print("%-10s I ate %dd apple" %('hi!',4))

hi!        I ate 4d apple

In [30]:
a.capitalize()

'Life is too short, you need python'

In [31]:
a="hi"
a.capitalize() #제일 앞문자 대문자로

'Hi'

In [32]:
a.upper()
a.lower()

'hi'

In [40]:
a="       h       i      "
a.lstrip() #가장 왼쪽에 있는 공백들 모두 제거
a.strip() #공백 양쪽 제거

'h       i'

In [42]:
a=" Life is too short"
a.replace("Life","Your leg")

' Your leg is too short'

In [44]:
a=[1,2,3]
a[1] = 4;

In [45]:
a

[1, 4, 3]

In [46]:
del a[1]
a

[1, 3]

In [47]:
del a #객체 삭제

In [48]:
a

NameError: name 'a' is not defined

In [49]:
a=[1,4,3,2]

In [50]:
a.sort(reverse=False)

In [51]:
a

[1, 2, 3, 4]

In [53]:
a.sort(reverse=True)

In [54]:
a

[4, 3, 2, 1]

In [57]:
a.append([5,6])

In [58]:
a

[4, 3, 2, 1, [5, 6]]

In [59]:
a.reverse()

In [60]:
a

[[5, 6], 1, 2, 3, 4]

In [61]:
a.index(1)

1

In [62]:
b=['b','c','a']

In [63]:
b.index('t')

ValueError: 't' is not in list

In [64]:
a.insert(2,4)

In [65]:
a.remove(4)

In [66]:
a

[[5, 6], 1, 2, 3, 4]

In [67]:
a.pop(0)

[5, 6]

In [68]:
a

[1, 2, 3, 4]

In [69]:
a.count(4) #4개수 세어줌

1

In [75]:
t1=() #튜플 리스트는 값 생성,삭제,수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

In [76]:
type(t1)

tuple

In [79]:
t2=(2,) # , 안찍으면 tuple 아니다.

In [80]:
type(t2)

int

In [81]:
t4=1,4,3 #tuple

In [82]:
type(t4)

tuple

In [83]:
t5 =(1,2,3,4,[1,2,3,4])

In [84]:
type(t5)

tuple

In [85]:
t5[4][0]=3

In [86]:
t5

(1, 2, 3, 4, [3, 2, 3, 4])

In [87]:
t5[2] = 3

TypeError: 'tuple' object does not support item assignment

In [88]:
dic={1:1,2:2} #key가 1 ,value가 1 , key로 접근

In [110]:
dic={'a':[1,2,3],2:{1:1},3:(2,4)} #value에는 다 넣을 수 있다 , key는 안됨, 중복도 안됨

In [92]:
dic

{'a': [1, 2, 3], 2: {1: 1}, 3: (2, 4)}

In [93]:
dic[2][1]

1

In [94]:
dic

{'a': [1, 2, 3], 2: {1: 1}, 3: (2, 4)}

In [96]:
dic[2][1] = 7

In [97]:
dic

{'a': [1, 2, 3], 2: {1: 7}, 3: (2, 4)}

In [98]:
dic[2][1]=[2,"tj"]

In [99]:
dic

{'a': [1, 2, 3], 2: {1: [2, 'tj']}, 3: (2, 4)}

In [100]:
dic[2][1][1]

'tj'

In [101]:
dic.keys()

dict_keys(['a', 2, 3])

In [102]:
dic.values()

dict_values([[1, 2, 3], {1: [2, 'tj']}, (2, 4)])

In [103]:
dic.items()

dict_items([('a', [1, 2, 3]), (2, {1: [2, 'tj']}), (3, (2, 4))])

In [104]:
for k in dic.keys():
    print(k)
    print(dic[k])

a
[1, 2, 3]
2
{1: [2, 'tj']}
3
(2, 4)

In [105]:
list1 = list(dic.keys()) #list method를 사용할려고

In [107]:
list2 = dic.keys() #list 아님

In [108]:
dic.clear()

In [109]:
dic #안에 있는거 비우는거 dic자체를 지울려면 del

{}

In [111]:
dic['a']

[1, 2, 3]

In [112]:
dic.get(1) #1을 찾아주는건데 없어도 오류안남

In [113]:
dic

{'a': [1, 2, 3], 2: {1: 1}, 3: (2, 4)}

In [116]:
a={'name':'홍길동'}

In [123]:
'name' in a #True False 반환

True

In [118]:
'email' in a

False

In [124]:
s1 = set([1,2,3,3]) #3 하나만 들어간다

In [125]:
s1

{1, 2, 3}

In [126]:
s2=set('hello')

In [127]:
s2

{'e', 'h', 'l', 'o'}

In [128]:
l1=[1,2,3,4,5,6,7]

In [129]:
l2=[4,5,6,7,8,9]

In [130]:
total = l1+l2

In [131]:
total

[1, 2, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8, 9]

In [132]:
l4 = set(total)

In [133]:
l4

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [138]:
s1=set([1,2,3,4,5,6])

In [139]:
s2=set([4,5,6,7,8,9])

In [140]:
s1&s2

{4, 5, 6}

In [141]:
s1|s2 #중복허용X

{1, 2, 3, 4, 5, 6, 7, 8, 9}